.mobile-nav-button{
  position: relative;
  &__img{
    display:  none;
  }

}

@media (max-width: 1165px) {
  .mobile-nav-button {
    padding-top: 64px;

    &__img{
    display:  block;
    width: 240px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

    /* Reset for mobile */
    // cursor: pointer;
    // padding: 0;
    // border: none;
    // background: transparent;
&__btn{
    /* Nav icon styles */
    position: absolute;
    right: 0;
    width: 61px;
    z-index: 100;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}


    &__icon {
      display: block;
      position: relative;
      width: 61px;
      height: 8px;
      background-color: #000;
    }

    &__icon::after,
    &__icon::before {
      position: absolute;
      content: '';
      width: 61px;
      height: 8px;
      background-color: #000;
      /* трансформация по закрыванию */
      transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
    }

    &__icon::before {
      right: 0;
      top: -16px;
    }

    &__icon::after {
      left: 0;
      top: 16px;
    }

    &__icon.active {
      background-color: transparent;
    }

    &__icon.active::before {
      transform: rotate(45deg);
      top: 0;
      /* Трансформация при открывании */
      transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
      background-color: #fff;
    }

    &__icon.active::after {
      transform: rotate(-45deg);
      top: 0;
      /* Трансформация при открывании */
      transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
      background-color: #fff;
    }
  }
}


@media (max-width: 760px){
  .mobile-nav-button{
    padding-top: 25px;
    &__btn{
      width: 30px;
    }
    &__img{
      width: 130px;
    }
    &__icon {
      width: 30px;
      height: 4px;
  }
  &__icon::after, &__icon::before {
    width: 30px;
    height: 4px;
}

&__icon::before {
  top: -8px;
}
&__icon::after {
  top: 8px;
}

  }
}

