.header {
  background-color: var(--graphite);

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 147px;
    width: 150px;
    height: 45px;
    margin: 28px 0;
  }
}

.nav-list {
  display: flex;
  align-items: center;

  &__link {
    color: var(--nav-text);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__link:active {
    opacity: 0.8;
  }

  &__link--active {
    position: relative;
  }

  &__link--active::before {
    content: '';

    position: absolute;
    left: 0;
    top: 150%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--white);
  }

  &__item {
    padding-right: 20px;
    margin-right: 22px;
    height: 30px;
  }

  &__item:not(:last-child) {
    border-right: 2px solid var(--border-color);
  }
  &__item:last-child {
    margin-right: 0;
    padding-right: 0;
  }
}

@media (max-width: 412px) {
  .header {
    background-color: var(--gray);
    &__inner{
      display: flex;
      margin: 25px 0 94px;
      column-gap: 55px;
     

    }
    &__nav {
      display: none;
    }
    &__row {
      justify-content: flex-end;
      
    }
    &__logo {
      margin: 0;
    }
  }
}

