
.container{
  position: relative;
}

.devices {
  background-color: var(--background);
  &__img-big{
    display: none;
  }
 
  &__content {
  
    background-image: url( '../../img/images/section-4/lifestyle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1332px;
  }
  &__title {
    margin-top: 100px;
    margin-bottom: 35px;
  }
  &__info-text {
    width: 958px;
    text-align: center;
    margin-bottom: 69px;
  }

  &__instruction {
    display: flex;
    height: 20px;
    justify-content: space-between;
    width: 958px;
  }
}

.step-1,.step-2,.step-3 {
  height: 55px;
  text-align: left;
}
.step-1, .step-2{
  width: 315px;
}
.step-3{
  width: 143px;
}

@media (max-width: 760px) {
 
  .devices {
    &__content {
      // position: unset;
    background-image: unset;

      margin-bottom: -40px;
      height: unset;
    }
    &__title {
      margin: 70px 129px 20px;
      width: 318px;
    }
    &__info-text {
      width: 308px;
      text-align: center;
      margin: 0 35px 35px;
    }
    &__instruction {
      width: unset;
      flex-direction: column;
      position: relative;
    }
    &__border {
      display: none;
    }
    &__img-big {
      display: block;

    }
  }
  .step-1,.step-2,.step-3 {
padding: 0 0 16px;
}

}
