.big-container {
  margin: 0 auto;
  max-width: 1940px;
  padding: 0 10px;
  position: relative;
}
.container {
  position: relative;
  z-index: 1;
}

.devices {
  background-color: var(--background);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &__img-big {
    max-width: 1920px;
    position: relative;
    right: 250px;
  }
  &__title {
    margin-top: 100px;
    margin-bottom: 35px;
  }
  &__info-text {
    width: 958px;
    text-align: center;
    margin-bottom: 69px;
  }
  // &__text-2 {
  //   margin-bottom: 69px;
  // }
  &__instruction {
    display: flex;
    height: 60px;
    justify-content: space-between;
    width: 958px;
  }
}

.step {
  height: 55px;
  text-align: left;
}
.step:not(:last-child) {
  // border-right: 1px solid var(--graphite);
  width: 290px;
}
.step:nth-child(1) {
  // padding-right: 12px;
}

.step:nth-child(2) {
  // padding-right: 27px;
}

// .step:last-child {
//   width: 143px;
// }

// @media (max-width: 1000px) {
//   .devices {
//     &__text-1,
//     &__text-2 {
//       width: 800px;
//       margin: 0 auto;
//     }
//     &__text-2 {
//       margin-bottom: 70px;
//     }
//     &__instruction {
//       justify-content: space-around;
//     }
//   }
// }

// @media (max-width: 760px) {
//   .devices {
//     // position: relative;
//     background-color: var(--background);
//     // z-index: 0;
//     &__title {
//       width: 318px;
//       margin-top: 70px;
//       margin-bottom: 20px;
//     }
//     &__info-text {
//       width: 318px;
//       margin-bottom: 35px;
//       padding: 0 8px;
//     }
//     &__text-1,
//     &__text-2 {
//       margin: 0 auto;
//     }
//     &__instruction {
//       flex-direction: column;
//       height: unset;
//     }

//     .devices__img-big {

//       z-index: -1;
//       bottom: 119px;
//       width: 375px;
//   }
//   }
//   .step:nth-child(1) {
//     width: 201px;
//     padding: 0;
//   }

//   .step:nth-child(2) {
//     width: 224px;
//     padding: 0;
//   }

//   .step:last-child {
//     width: 141px;
//     padding: 0;
//   }
//   .step:not(:last-child) {
//     border: none;
//   }
// }

@media (max-width: 760px) {
  .big-container {
    position: unset;
  }
  .devices {
    &__content {
      position: unset;
      margin-bottom: -40px;
    }
    &__title {
      margin: 70px 129px 20px;
      width: 380px;
    }
    &__info-text {
      width: unset;
      text-align: center;
      margin: 0 35px 35px;
    }
    &__instruction {
      width: unset;
      flex-direction: column;
      position: relative;
    }
    &__border {
      display: none;
    }
    &__img-big {
      width: 100%;
      position: unset;
      margin-top: 10px;
    }
  }
  .step:not(:last-child) {
    padding: 0 0 16px;
  }
  .step:nth-child(1) {
    width: 200px;
  }

  .step:nth-child(3) {
    width: 224px;
  }
  .step:nth-child(5) {
    width: 145px;
  }
}
