.ergonomics {
  &__grid {
    margin: 100px 0;
    display: grid;
    grid-template-areas:
      'pic1 txt1'
      'txt2 pic2';
    grid-template-rows: 493px 493px;
  }

  &__description {
    width: 100%;

    // width: 400px;
  }

  &__title-1 {
    width: 281px;
    text-align: start !important;
  }

  &__title-2 {
    width: 317px;
    text-align: end !important;
  }
  &__info-text-1,
  &__info-text-2 {
    width: 400px;
  }
  &__info-text-1 {
    text-align: left;
  }
  &__info-text-2 {
    text-align: right;
  }
}
.picture-1 {
  grid-area: pic1;
}
.picture-2 {
  grid-area: pic2;
}
.text-1, .text-2{
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-1 {
  grid-area: txt1;
  align-items: flex-start;
}
.text-2 {
  grid-area: txt2; 
  align-items: flex-end;
}

@media (max-width: 1165px) {
  .ergonomics {
    &__grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
    &__title-1 {
      width: 762px;
    }
    &__title-2 {
      width: 352px;
    }
    &__title-1,
    &__title-2 {
      text-align: center !important;
      margin-bottom: 30px;
      margin-top: 70px;
    }
  }
  .text-1,
  .text-2 {
    align-items: center;
    padding: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 760px) {
  .ergonomics {
    &__title-1,
    &__title-2 {
      width: 307px;
    }
    &__info-text-1,
    &__info-text-2 {
      width: 308px;
      text-align: center;
    }
  }
  .text-1,
  .text-2 {
    margin-bottom: 20px;
  }
 
}
